/laskarit/viikko2/1/Maksukortti/nbproject/private/
/laskarit/viikko2/1/Maksukortti/build/
/laskarit/viikko2/2/Unicafe/target/
/laskarit/viikko2/2/Unicafe/nbproject/
/2048/nbproject/
/2048/target/
*.db
